.content-button {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.button {
    width: 50%;
    margin:3px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.primary {
    background: #00838f;
    color: white;
    border-color: #005662;
}
.button:active{
    transform: translateY(-2px);
}